body {
	background-color: #F6F6F4; 								/* Цвет фона веб-страницы  */
											/*Georgia, "Times New Roman", Times, serif;*/
    font-family: 	  'Lato', sans-serif;
	font-size:        80%;
	margin:           0px;
}
#Menu{
	position:         absolute;
	top:           	  50px;
	right:            100px;
}
#HeadVideo {
	position:         absolute;
	top: 			  0px;
	left: 			  0px;
	width: 			  450px;
	height: 		  350px;
	border:           none;
}
#header {
	text-align:       center;
	background:       url(../img/HeadBackground.png)  no-repeat  scroll center #d29385;
	background-size:  cover;
	height:           882px;
}

#header p { 
    color:            #D0E7E9;
	font-style:       italic;
	font-size:        180%;
	line-height:      1.5;
}

#HeadTextStarNight{
	height:           400px;
    padding-top: 	  50px;
	padding-left: 	  200px;
	padding-right: 	  200px;
}
	
	
#header h1 { 
	color:            white;
	font-size:        600%;
	font-weight:      200; 
}  	
#TableContainerPage2 {
	display: 		  table;
	background: 	  #e8b968;
	height:           882px;
	width:            1600px;
	margin:           0px;
}
#TextHeadPage2 {
	display:          table-cell;
	padding: 		  50px;
	height:           300px;
	width:            800px;
	color:            white;
	font-family:      Tahoma, Geneva, sans-serif;
	font-size:        large;
	line-height:      2;
}
#ButtonGetStarted {
	 margin-top:   	  200px;
	 color: 		  white;
	 background:  	  #7accc8; 
	 height:          72px;
	 width:           282px;
	 font-size:       large;
	 letter-spacing:  3px;
	 font-family:     Tahoma, Geneva, sans-serif;
}

#Playbutton {
	 background:  	  0;
	 border:	 	  10px solid white;
	 border-radius:   50px;
	 height:          99px;
	 width:           99px;	 
}
#triangle {
	 margin-left: 		  30px;
	 border:	 	  16px solid transparent;
	 border-left:     16px solid white;
}
#ButtonDounloadNow {
	 color: 		  white;
	 background:  	  #e8b968;
	 border:	 	  3px solid white;
	 height:          72px;
	 width:           280px;
	 font-size:       large;
	 letter-spacing:  3px;
	 font-family:     Tahoma, Geneva, sans-serif;
	 text-align:      centr;
	 margin:          auto 660px;
}
#ButtonTryDemo {
	 color: 		  white;
	 background:  	  #f69679; 
	 height:          61px;
	 width:           181px;
	 font-size:       large;
	 letter-spacing:  3px;
	 font-family:     Tahoma, Geneva, sans-serif;
	 text-align:      centr;
	 margin:          auto 710px;
	 
} 
#TableContainerTextPage3 {
	display: 		  table;
	padding: 		  50px 100px;	
	background: 	  white;
	height:           782px;
	width:            1400px;
}
#TableRow1 {
	display: 		  table-row;
	height:           300px;
	width:            1600px;
	margin:           0px;
}
#TableRow2 {
	display: 		  table-row;
	height:           300px;
	width:            1600px;
	margin:           0px;
}
#TableRow3 {
	display: 		  table-row;
	height:           100px;
	width:            1600px;
	background: 	  white;
}
div.TextCellPage3 {
	display:          table-cell;
	padding: 		  50px;
	height:           100px;
	width:            400px;
	color:            #c0c0c0;
	font-family:      Tahoma, Geneva, sans-serif;
	font-size:        large;
	line-height:      2;
}
h2 {
	text-transform:   uppercase;
	font-weight:      normal;
}
h3 {
	text-transform:   uppercase;
	font-weight:      normal;
}

#TableContainerCell1Page4{
	display:          table-cell;
	padding: 		  20px; 
	height:           489px;
	width:            337px;
	color:            #c0c0c0;
	font-family:      Tahoma, Geneva, sans-serif;
}
#TableContainerCell2Page4{
	display:         table-cell;
	padding: 		 20px;
	height:          489px;
	width:           337px;
	color:           #c0c0c0;
	font-family:     Tahoma, Geneva, sans-serif;
}
#TableContainerCell3Page4 {
	display:         table-cell;
	height:          489px;
	width:           500px;
	color:           #c0c0c0;
	font-family:     Tahoma, Geneva, sans-serif;
	font-size:       x-large;
	line-height:     1.5;
	padding: 		 0px 20px 0px 20px; 
}	
#TableContainerCell3Page4 p {
	font-size:       large;
	line-height:     2;
}
#SquareLeftColor{
	display:         table-cell;
	height:          346px;
	width:           337px;
	background:      #f69679; 
	font-family:     Tahoma, Geneva, sans-serif;
}
#SquareRightColor {
	display:         table-cell;
	height:          346px;
	width:           337px;
	background:      #e8b968;
	font-family:     Tahoma, Geneva, sans-serif;
}
#SquareRightText{
	padding: 		 20px 20px 40px 20px;
	background:      white;
}
#SquareRightText h3 {
	letter-spacing:	 3px;
}
#SquareRightText p {
	font-style:	     oblique;
}	
#SquareLeftText{
	padding: 		 20px 20px 40px 20px;
	background:      white;
	
}
#SquareLeftText h3 {
	letter-spacing:	 3px;
}
#SquareLeftText p {
	font-style:	     oblique;
}
#TableContainerPage5 {
	display: 		  table;
	padding: 		  50px 100px;	
	background: 	  #7accc8;
	height:           782px;
	width:            1400px;
	color:            white;
	font-family:      Tahoma, Geneva, sans-serif;
	line-height:      2;
	font-size:        large;
	margin: 		  0px;
}

#TableContainerCell1Page5 {
	display:         table-cell;
	padding: 		 50px;
	height:          100px;
	width:           400px;
}
#TableContainerCell2Page5 {
	display:         table-cell;
	padding: 		 50px;
	height:          100px;
	width:           250px;
}
#TableContainerCellMenuPage5{
	display:         table-cell;
	padding: 		 0px 0px 0px 250px;
	height:          100px;
	width:           300px;
}
#TableContainerRow2Page5{
	text-align: 	 center;
	text-transform:  uppercase;
	letter-spacing:  3px;	
}
#TableContainerRow2Page5 a {
	text-decoration: none;
    color: 			 white;
}	
.MainMenu {
	list-style-type: none;
}
.MainMenu a {
    text-decoration: none;
    color: 			 white;

}
